.input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;
}

.input-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #7a7272;
}

.input-input {
  
  padding: 13px 10px 12px;
  border-radius: 6px;
  border: 2px solid #77646f;
}


